body {
  font-family: 'Jost', sans-serif;
  text-align: center;
  background-color: #70a1ff;
  background-image: linear-gradient(315deg, #4baeff 0%, #ffdfdf 70%);
}

body, #welcome {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#welcome {
  width: 66vw;
}

h1 {
  font-size: 80px;
}

h2 {
  font-size: 70px;
  margin-bottom: 25px;
}

h3 {
  font-size: 30px;
  margin-bottom: 5px;
}

h4 {
  font-size: 20px;
}

h4, span {
  font-family: 'Roboto', sans-serif;
}

span {
  font-size: 15px;
}

input {
  margin: 25px;
  padding: 10px 25px 10px 25px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 225px;
  box-sizing: border-box;
  text-align: center;
}

::placeholder {
  text-align: center;
  color: rgb(175, 175, 175);
}

:focus {
  outline: none;
}

#syne {
  min-height: 20vh;
  min-width: 30vw;
  line-height: 20vh;
  border-radius: 10px;
  word-wrap: break-word;
  padding: 10px;
  margin: 10px;
}

#home {
  display: flex;
  flex-direction: row;
}

#history {
  width: 33vw;
  height: 100vh;
  overflow: auto;
}

#history h3 {
  margin: 20% 0 10% 0;
  font-size: 35px;
}

#history .time {
  margin-bottom: 5%;
  font-size: 12px;
  color: grey;
}

#history .msg {
  margin: 5% 20% 0% 20%;
  padding: 5% 5% 5% 5%;
  background: white;
  border-radius: 7px;
  text-align: left;
  font-size: 15px;
}

#history .user {
  margin: 3% 22% 5% 22%;
  color: rgb(78, 78, 78);
  font-size: 14px;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.current-users {
  padding: 20px;
  min-height: 10vh;
}

input[type=range] {
  padding: 0px;
}